{% extends "basic.html" %}
{% block title %}{{title}}{% endblock %}
{% block maincontent %}
<div id="wrapper">
	<div id="main">
		<section id="one">
			<div class="container">
				<h3>Web Design for CSSA</h3>
				<p></p>
				<div class="features">
					<article>
						<div class="inner">
							<p>
							<li>Git & PHP & MySQL & IOS</li>
							<li>Helped Clemson CSSA to build their home page</li>
							<li>Designed the database to exchange large scale data between user and system</li>
							<li>Designed the back-end framework using Twig and PHP</li>

							</p>
						</div>
					</article>
				</div>
			</div>
		</section>

		<section id="two">
			<div class="container">
				<h3>Pomodoro Design</h3>
				<p></p>
				<div class="features">
					<article>
						<div class="inner">
							<p>
							<li>Git & PHP & MySQL & IOS</li>
							<li>Designed a useful and user-friendly tool to manage time</li>
							<li>Designed the database to exchange data between front-end and back-end</li>
							<li>Designed a simple cloud service for this application as the back end</li>
							</p>
						</div>
					</article>
				</div>
			</div>
		</section>




	</div>
</div>


{% endblock %}