<!DOCTYPE HTML>
{% extends "basic.html" %}
{% block title %}{{title}}{% endblock%}
{% block maincontent %}
<div id="wrapper">
	<div id="main">
		<!-- One -->
		<section id="one">
			<div class="container">
				<header class="major">
					<h2>Chao Huang</h2>
					<p>Focus on Machine Learning and Algorithm<br /></p>
				</header>
				<p>I am an intelligent and diligent developer who has a strong background in the field of healthcare and computer science.  I dream to be an excellent engineer who can change the world as much as I can.
				I am skilled in the technique of Bigdata, machine learning and SQL design.
				<br></br>
				Specialties: Programming: C++ & Java & Python & Bigdata(Hadoop) & Data Mining & Algorithm</p>
			</div>
		</section>
			
		<!-- Two -->
		<section id="two">
			<div class="container">
				<h3>Working experience</h3>
				<p></p>
				<ul class="feature-icons">
					<li class="fa-code"><a href="RA-Clemson">Research Assistant</a></li>
					<li class="fa-cubes"><a href="BD-Majoraide">Backend Developer</li>
					<li class="fa-book">Research Assistant</li>
					<li class="fa-coffee">Data Administrator</li>
				</ul>
			</div>
		</section>
			
		<!-- Three -->
		<section id="three">
			<div class="container">
				<h3>Projects</h3>
				<p>Basic introduction of my previous project</p>
				<div class="features">
					<article>
						<a href="/static/home/pdf/mapreduce.pdf" class="image"><img src="/static/home/images/project/searcheng.jpg" alt="" /></a>
						<div class="inner">
							<h4>Index searching engine based on MapReduce</h4>
							<p>
							<li>Language & tools: Hadoop & Java & Python</li>
							<li>Built three indexes in distributed system including boolean, tfidf and probabilistic model</li>
							<li>Use Hadoop as the main tool to implement distributed algorithm</li>
							<li>Build an interface for the user to search the query using PHP</li>
							</p>
						</div>
					</article>
					<article>
						<a href="http://people.cs.clemson.edu/~chaoh/video/2d_game.mp4" class="image"><img src="/static/home/images/project/gameeng.jpg" alt="" /></a>
						<div class="inner">
							<h4>Game engine design based on SDL</h4>
							<p>
							<li>Language & tools: C++ & SDL</li>
							<li>Used SDL as the main framework to design this game</li>
							<li>Applied different design patterns in this 2-D game engine using C++</li>
							<li>Used XML file to make this work as a data-driven game</li>
							</p>
						</div>
					</article>
					<article>
						<a href="/static/home/pdf/catdog.pdf" class="image"><img src="/static/home/images/project/catdog.jpg" alt="" /></a>
						<div class="inner">
							<h4>Data mining for dog and cat pictures</h4>
							<p>
								<li>Language & tools: C++ & Machine Learning
								<li>Developed a global feature selection algorithm using C++</li>
								<li>Applied different basic classification algorithms such linear, PCA and SVM to features</li>
							</p>
						</div>
					</article>

					<article>
						<a href="http://people.cs.clemson.edu/~chaoh/video/fish_eye.mp4" class="image"><img src="/static/home/images/project/fisheye.jpg" alt="" /></a>
						<div class="inner">
							<h4>Image processing project: Fisheye</h4>
							<p>
								<li>language & tools: C++ & Linux</li>
								<li>Finished a fisheye magnification function which can magnify the picture like a fisheye using C++</li>
								<li>Finished a user-friendly environment which allows the user to move and reshape pictures</li>
							</p>
						</div>
					</article>


					<article>
						<a href="" class="image"><img src="/static/home/images/project/pomodoro.png" alt="" /></a>
						<div class="inner">
							<h4>IOS application design: Pomodoro</h4>
							<p>
								<li>Language & tools: IOS App& MySQL & PHP</li>
								<li>Designed a useful and user-friendly tool to manage time</li>
								<li>Designed the database to exchange data between front-end and back-end</li>
							</p>
						</div>
					</article>
				</div>
			</div>
		</section>
			
		<!-- Four -->
		<section id="four">
			<div class="container">
				<h3>Contact Me</h3>
				<p>
					<li> You can contract me throught linke above </li>
					<li> Send me the email to chaoh@g.clemson.edu</li>
					<li> Or fill the blank and send me the massage</li>
				</p>
				<form method="post" action="#">
					<div class="row uniform collapse-at-2">
						<div class="6u"><input type="text" name="name" id="name" placeholder="Name" /></div>
						<div class="6u"><input type="email" name="email" id="email" placeholder="Email" /></div>
					</div>
					<div class="row uniform">
						<div class="12u"><input type="text" name="subject" id="subject" placeholder="Subject" /></div>
					</div>
					<div class="row uniform">
						<div class="12u"><textarea name="message" id="message" placeholder="Message" rows="6"></textarea></div>
					</div>
					<div class="row uniform">
						<div class="12u">
							<ul class="actions">
								<li><input type="submit" class="special" value="Send Message" /></li>
								<li><input type="reset" value="Reset Form" /></li>
							</ul>
						</div>
					</div>
				</form>
			</div>
		</section>				
	</div>

	<!-- Footer -->
	<section id="footer">
		<div class="container">
			<ul class="copyright">
				<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			</ul>
		</div>
	</section>
</div>
{% endblock %}