{% extends "basic.html" %}
{% block title %}{{title}}{% endblock %}
{% block mainpart %}
<div class="center">
      <h2>Research Assistant</h2>
      <h3><a href="www.clemson.edu">Clemson University, SC, USA</a></h3>
      <table>
            <tr><td>Language & tools: Algorithm & C++</td></tr>
            <tr><td>Built interface to extract DNA data features from original ﬁle</td></tr>
            <tr><td>Built index based on suﬃx array for the long DNA sequence</td></tr>
            <tr><td>Applied Wu-Mamber’s algorithm and make the index bear errors</td></tr>
      </table>
      <br>
      <p class="date">2014.09-2014.12</p>
      <br/>


      <h2>Backend Developer</h2>
      <h3>Majoraide, SC, U.S.</a></h3>
      <table>
            <tr><td>Language & tools: Github & PHP & MySQL &Twig</td></tr>
            <tr><td>Helped Clemson CSSA to build their home page</td></tr>
            <tr><td>Designed the database to exchange data between user and system</td></tr>
            <tr><td>Designed the back-end framework using Twig and PHP</td></tr>
      </table>
      <br>
      <p class="date">2014.03-2014.09</p>
      <br/>

      <h2>Data Administrator</h2>
      <h3>Siemens, China</a></h3>
      <table>
            <tr><td>Language & tools: PHP & MySQL &Data mining</td></tr>
            <tr><td>Helped the data engineers collect and analysis the data about carbon emission in construction projects</td></tr>
            <tr><td>Made the web based exhibition platform about current projects</td></tr>
      </table>
      <br>
      <p class="date">2013.05-2013.09</p>
      <br/>

      <h2>Research Assistant</h2>
      <h3>Learning Sciences Research Institute, China</a></h3>
      <table>
            <tr><td>Language & tools: Algorithm & Matlab Script</td></tr>
            <tr><td>Analyzed brain signal using basic machine learning algorithms</td></tr>
            <tr><td>Designed a new mixture factor analysis algorithm to ﬁnd the features of EEG signal</td></tr>
            <tr><td>Finished a paper titled ‘Mixture factor analysis based probabilistic model for learning CSP and its application on EEG signal’</td></tr>
      </table>
      <br>
      <p class="date">2010.05-2013.06</p>
      <br/>

    </div>
{% endblock %}