{% extends "basic.html" %}
{% block title %}{{title}}{% endblock %}
{% block maincontent %}
<div id="wrapper">
	<div id="main">
		<section id="one">
			<div class="container">
				<h3>Search Engine Design</h3>
				<p></p>
				<article>
					<div class="inner">
						<p>
						<li>Language & tools: Hadoop & Java & Python</li>
						<li>Built three indexes in distributed system including boolean, tfidf and probabilistic model</li>
						<li>Use Hadoop as the main tool to implement distributed algorithm</li>
						<li>Build an interface for the user to search the query using PHP</li>
						</p>
					</div>
				</article>
			</div>
		</section>
		<!-- Two -->
		<section id="two">
			<div class="container">
				<h3>DNA sequence Indexing</h3>
				<p></p>
				<article>
					<div class="inner">
						<p>
						<li>Language & tools: Hadoop & Java & Python</li>
						<li>Built interface to extract DNA data features from original ﬁle</li>
						<li>Built index based on suﬃx array for the large scale DNA sequence</li>
						<li>Applied Wu-Mamber’s algorithm and make the index bear errors</li>
						</p>
					</div>
				</article>
			</div>
		</section>
	</div>
</div>


{% endblock %}